$color : green; /*Variables*/

ul {
    color: $color;
}

ol{
    color: $color;
}

div { /*Nesting*/
    font-size: 18px;

    p{
        color: red;
    }

    ul{
        color: $color;
    }

}

%alert { /*Inheritance*/
    font-family: Arial, Helvetica, sans-serif;
    font-size: 25px;
    color: darkgreen;
    background-color: lightgreen;
    border:solid green 2px;
    text-align: center;
}

.success {
    @extend %alert;
    margin: 20px;
}